<%include header %>
<center>

<label>Informacion de Armas disponibles</label>
        <br>
        <br>
<table>
    <thead>
        <tr>
            <th>Armas</th><th>Descripcion</th><th>Costo</th>
        </tr>
    </thead>
    <tr>
        <td>Cuchillo   </td><td>puedes ahorrar una cantidad 
            <br>
            considerable de munición 
            <br>
            usándolo contra enemigos derribados
            <br>
             por patadas o golpes</td>
            <td>  Gratis</td>
    </tr>
    <tr>
        <td>Silver Ghost   </td>
        <td>Es útil y casi imprescindible
            <br> contra los ganados de
             <br> las primeras zonas</td>
        <td>  8000 ptas</td>

    </tr>
    <tr>
        <td>Punisher   </td>
        <td>Pistola de 9 mm 
            <br>capaz de atravesar a 
            <br>dos enemigos de un disparo</td>
        <td>  20000 ptas</td>
    </tr>
    <tr>
        <td>Blacktail   </td>
        <td>Pistola de 9 mm 
           <br> muy equilibrada con 
           <br> unos niveles de potencia,
           <br>cadencia, recarga y 
           <br> capacidad superiores 
           <br> a la media</td>
        <td>  24000 ptas</td>
    </tr>
    <tr>
         <td>Red 9   </td>
         <td>es la que presenta mayor
             <br> potencia de fuego,
             <br>incrementándose considerablemente
             <br>ésta con la actualización 
             <br>especial de la misma.</td>
         <td>  14000 ptas</td>
    </tr>
    <tr>
        <td>Matilda   </td>
        <td>Pistola de 9 mm con
            <br> capacidad para disparar
            <br>ráfagas de tres balas 
            <br>seguidas.</td>
        <td>  70000 ptas</td>
    </tr>
    <tr>
        <td>Escopeta   </td>
        <td>excelente adquisición 
            <br>que puede aguantar 
            <br>sin problemas hasta que
            <br>aparezca la Striker.</td>
        <td>  20000 ptas</td>
    </tr>
    <tr>
        <td>Rifle Semi-Automático   </td>
        <td>Rifle del calibre .223 
            <br>con más potencia de fuego,
            <br>mayor capacidad y menos tiempo
            <br>de recarga que el estándard. </td>
        <td>  35000 ptas</td>
    </tr>
    <tr>
        <td>Broken Butterfly   </td>
        <td>Revolver Magnum del .45.
            <br>Aunque tiene un tiempo de
            <br>recarga algo elevado y los
            <br>niveles de potencia en
            <br>condiciones normales son
            <br>inferiores a los de la Killer 7</td>
        <td>  38000 ptas</td>
    </tr>
    <tr>
        <td>P.R.L 412  </td>
        <td>Arma especialmente diseñada
            <br>para destruir la plaga dejando
            <br>al anfitrión intacto. Si se deja
            <br>apretado el disparador hasta
            <br>que se acumule toda la energía
            <br>contenida lanza una descarga 
            <br>que atraviesa al anfitrión y 
            <br>elimina al parásito.</td>
        <td> Gratis al acabar el juego
            <br> en modo Profesional (PS2)</td>
    </tr>
</table>

        <input type="submit" onclick="armas()" value="Armas">
   
    </center>
        <%include footer %>