<%include header %>
    <h1>Ingresar datos de la victima.</h1>
    <input type="text"placeholder="nombre" id="name" required>
    <input type="text" placeholder="apellidos" id="apellidos" required>
    <input type="text" placeholder="direccion" id="dic" required>>
    <input type="number" placeholder="telefono" id="tel" required>

    <input type="submit" id="aceptar" value="aceptar">



<%include footer %>




















