<%include header %>
<h2> Create una victima </h2>
<form method="post" role="form">
    <div class="form-group">
    <label for="title">Victimas...</label>
    <input type="text" class="form-control" id="title" name="title" placeholder="nombre" required>
    </div>

    <div class="form-group">
    <label for="body">Direccio</label>
        <input class="form-control" id="body" name="body" placeholder="Escribe un mensaje"required>
    </div>

    <div class="form-group">
        <label for="title">Telefono</label>
        <input class="form-control" id="tel" name="tel" placeholder="Escribe un mensaje"required>
    </div>
    <div class="form-group">
        <label for="title">Instagram</label>
        <input class="form-control" id="ins" name="ins" placeholder="Escribe un mensaje"required>
    </div>
    
    <div class="from-group  col-md-push-3">
     <input type="submit" class="btn btn-primary" value="Aceptar">
    </div>
</form>
<%include footer %>