<%include header %>
<center>

        <h1>Clases de Zombies</h1>
                <br>
                <br>
        <table>
            <thead>
                <tr>
                    <th>Zombies</th><th>Descripcion</th>
                </tr>
            </thead>
            <tr>
                <td><img src="/recursos/resident-evil-6-pc-playstation-3-xbox-360_139893.jpg" width="100px" height="100p">  </td>
                <td>    primera etapa
                    <br>
                    el zombie es lento 
                    <br>
                    y solo responde ante el 
                    <br>
                     sonid,la luz lo desenfoca</td>
                   
            </tr>
            <tr>
                <td><img src="/recursos/dos.jpg" width="180px" height="180px"> </td>
                <td>Este zombie un poco mas desarrollado 
                    <br> puede usar las mismas
                     <br> armas que los humanos para atacar</td>
        
            </tr>
            <tr>
                <td><img src="/recursos/tres.jpg" width="180px" height="180px">  </td>
                <td>Mutacion en proceso 
                    <br>capaz de mutar el zombie 
                    <br>genera sus musculo</td>
               
            </tr>
            <tr>
                <td><img src="/recursos/cuatro.jpg" width="180px" height="180px">   </td>
                <td>Mutacion nivel 1
                   <br> el zombie ya puede 
                   <br> correr rapido
                   <br>incluzo saltar de alturas 
                   <br> cuidado humanos  
                   <br> </td>
                
            </tr>
            <tr>
                 <td><img src="/recursos/cinco.jpg" width="180px" height="180px">  </td>
                 <td>Mutacion nivel 2
                    <br> capacidad para atacar
                    <br>con grandes extremidades 
                    <br>.</td>
                 
            </tr>
            <tr>
                <td><img src="/recursos/seis.png" width="180px" height="180px">  </td>
                <td>Mutacion nivel 3
                    <br> Deformacion de los tejidos
                    <br>gran instinto de supervivencia
                    <br>.</td>
                
            </tr>
            <tr>
                <td><img src="/recursos/siete.png" width="180px" height="180px"> </td>
                <td>deformacion final 
                    <br>el zombie esta etapa de deofrmacion final 
                    <br>su cuerpo esta adaptandoce
                    <br>.</td>
              
            </tr>
            <tr>
                <td><img src="/recursos/ocho.jpg" width="180px" height="180px">  </td>
                <td>perfeccion 1 
                    <br>con más potencia el zombie ,
                    <br>e poco tiempo desarrolla
                    <br>nuevo tejido </td>
                
            </tr>
            <tr>
                <td> <img src="/recursos/nueve.png" width="180px" height="180px">  </td>
                <td>Maquina 
                    <br>Con una gran fuerza este 
                    <br>zombie puede terminar con
                    <br>la vida de sus oponentes
                    </td>
                
            </tr>
            <tr>
                <td><img src="/recursos/dies.jpg" width="180px" height="180px"> </td>
                <td>Maquina destructora
                    <br>este Zombie tiene un gran potencial
                    <br>desarrollo fuerza, inteligencia,
                    <br>puede comunicarse con mas zombies
                    <br>puede hacer planes de ataque.
                  </td>
            </tr>
        </table>
        
               
           
            </center>
<%include footer %>