<%include header %>
<center>
<label>Categorias de zombies</label>
<br>
<img src="/files/public/resident-evil-6-pc-playstation-3-xbox-360_139893.jpg">
<img src="/files/public/dos.jpg">
<img src="/files/public/tres.jpg">
<img src="/files/public/cuatro.jpg">
<img src="/files/public/cinco.jpg">
<img src="/files/public/seis.png">
<img src="/files/public/siete.png">
<img src="/files/public/ocho.jpg">
<img src="/files/public/nueve.png">
<img src="/files/public/dies.jpg">
<%include footer %>